/* Variables */
:root {
  --dark-blue: hsl(223, 47%, 23%);
  --pale-blue: hsl(225, 100%, 94%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --bg-card: #fff;
  --bg-blue: #d6e1ff;
  --bg-plan: #eaeffa;
  --btn-hover: hsl(253, 89%, 75%);
  --fs-default: 16px;
  --fw-default: 500;
  --fw-bold: 700;
  --fw-black: 900;
  --ff: "Red Hat Display", sans-serif;
  --border-radius: 1.5rem;
}

/* Rules */
* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-size: var(--fs-default);
  font-family: var(--ff);
}

body {
  height: 100vh;
  background-color: var(--bg-blue);
  display: flex;
  align-items: center;
}

.container {
  width: 90vw;
  max-width: 450px;
  max-height: 660px;
  margin: 0 auto;
  background-color: var(--bg-card);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__img {
  width: 100%;
  height: auto;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.padding-container {
  padding: 0.2rem 1.5rem;
}
/* 
.order {
  padding: 0 2rem;
} */

.order__title {
  text-align: center;
  font-weight: var(--fw-black);
  color: var(--dark-blue);
  margin-top: calc(1rem + 1vw);
}

.order__text {
  text-align: center;
  line-height: 1.5;
  padding: 0 0.5rem 0.6rem;
  color: var(--desaturated-blue);
}

.plan-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.7rem;
  padding: 1rem 1rem;
  margin-bottom: 1.8rem;
  background-color: var(--very-pale-blue);
}

.plan-card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 1.3rem;
}

.card__img,
.card__plan,
.card__price,
.card__link {
  display: block;
}

.card__plan {
  color: var(--dark-blue);
  font-weight: var(--fw-black);
}

.card__price {
  color: var(--desaturated-blue);
  font-size: 0.9rem;
}

.card__link {
  color: var(--bright-blue);
  font-weight: var(--fw-bold);
  font-size: 0.8rem;
  text-underline-offset: 0.05rem;
  transition: color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.card__link:hover {
  text-decoration: none;
  color: var(--btn-hover);
}

.btn__payment,
.btn__cancel {
  width: 100%;
  padding: 1rem 0;
  margin: 0 0 0.5rem;
  font-size: 1.03rem;
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  display: block;
  border-radius: 0.8rem;
  border: none;
  transition: background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
    color 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.btn__payment {
  color: var(--bg-card);
  background-color: var(--bright-blue);
}

.btn__payment:hover {
  background-color: var(--btn-hover);
}

.btn__cancel {
  color: var(--desaturated-blue);
  background-color: var(--bg-card);
  font-weight: var(--fw-black);
  margin-bottom: 2.5vw;
}

.btn__cancel:hover {
  color: var(--dark-blue);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@media (min-width: 465px) {
  .order,
  .plan-card,
  .buttons {
    max-width: 366px;
  }
}
